.sendForm {
    display: flex;
    flex-flow: wrap;
    align-items: center;
}

.textarea {
    resize: none;
    height: 40px;
    width: 976px;
    border-radius: 25px;
    order: 1;
    margin: 5px 120px 5px 180px;
    padding: 15px;
    outline : none;
    wrap: of;
    overflow: hidden;
}

.textarea-placeholder {
    text-align: center;
    font-size: 16px;
}

.button {
    order: 2;
    width: 120px;
    height: 40px;
    background-color: #0066cc;
    border-radius:20px;
    color: #DDEEFF;
    margin-left: 80px;
    border: 0;
}

.button:hover {

}

.button:active {

}
